* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(236, 223, 204);
    font-size: 18px;
    font-family: sans-serif, serif, monospace;
}

.title {
    text-align: center;
    background-color: rgb(60, 61, 55);
    color: rgb(236, 223, 204);
    border-radius: 30px;
    margin: 10px 5px 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.list-item.link {
    margin: 1em 0;
}

.list-item a {
    background-color: rgb(30, 32, 30);
    padding: .3em;
    border-radius: 10px;
    color: rgb(236, 223, 204);
}

.list-item a:hover {
    font-size: 1.3em;
}

div.links {
    background-color: rgb(105, 117, 101);
    border-radius: 10px;
    padding-top: .5em;
    padding-bottom: .5em;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.links .list {
    list-style-type: none;
    padding-left: 0px;
}

.food {
    margin-left: 10vw;
}

.list.recipes {
    
}